* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
}

#root {
    width: 100%;
}
#wrapper_body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1400px;
    margin: auto;
}
// .main {
//     height: 100%;
//     // flex: 1 1 auto;

// }
// #wrapper_main {
//     margin: 100px 100px 0px 100px;
// }
