.logement {
    & .carousel {
        height: 500px;
        border-radius: 25px;
        overflow: hidden;
        @media #{$mobile-only} {
            height: 255px;
        }
    }
    color: $color-primary;
}
