@import url("static/fonts/Montserrat/fonts/webfonts/Montserrat.css");
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

#root {
  width: 100%;
}

#wrapper_body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1400px;
  margin: auto;
}

.main {
  flex-grow: 1;
}

@media all and (max-width: 767px) {
  #wrapper_body {
    max-width: 696px;
  }
}
.wrapImage {
  overflow: hidden;
  border-radius: 25px;
  height: 223px;
  width: 100%;
  display: block;
  position: relative;
  margin-top: 63px;
}
@media all and (max-width: 767px) {
  .wrapImage {
    border-radius: 10px;
    height: 111px;
    margin-top: unset;
  }
}
.wrapImage.about_img {
  margin-bottom: 31px;
}
.wrapImage .cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media all and (max-width: 767px) {
  .wrapImage .cover {
    object-position: 50% 50%;
  }
}
.wrapImage .slogan {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: white;
  z-index: 1;
}
@media all and (max-width: 767px) {
  .wrapImage .slogan {
    font-size: 24px;
  }
}

footer {
  flex-shrink: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 200px;
  color: white;
}
.footer img {
  width: 122px;
  display: block;
}
.footer .description_footer {
  font-size: 24px;
}

header {
  flex-shrink: 1;
  margin-bottom: 20px;
  margin-top: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  text-transform: unset;
  font-weight: 500;
}
@media all and (max-width: 767px) {
  .header {
    font-size: 12px;
    text-transform: uppercase;
  }
  .header nav {
    width: 50%;
  }
}
.header img {
  height: 68px;
}
@media all and (max-width: 767px) {
  .header img {
    height: 47px;
  }
}
.header ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
@media all and (max-width: 767px) {
  .header ul {
    min-width: unset;
    justify-content: right;
  }
}
.header li {
  list-style-type: none;
}
@media all and (max-width: 767px) {
  .header li {
    padding-left: 10px;
  }
}
.header a {
  text-decoration: none;
  color: black;
  color: #ff6060;
}
.header a.active {
  text-decoration: underline #ff6060 !important;
}

.wrap_cards {
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-top: 43px;
  padding: 56px 50px;
}
.wrap_cards ul {
  padding: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  gap: 50px;
}

.card a,
.card a:visited {
  text-decoration: none;
}
.card h2 {
  color: #fff;
  padding: 0 15px;
  text-decoration: none !important;
  font-size: 18px;
  text-align: left;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.thumbs {
  border-radius: 10px;
  min-width: 335px;
  min-height: 255px;
  width: 30%;
  height: 340px;
  max-height: 340px;
  overflow: hidden;
  text-decoration: none;
  background: linear-gradient(180deg, #ff6060 0%, #803030 100%);
}
.thumbs a,
.thumbs a:visited,
.thumbs h2 {
  text-decoration: none;
}

.wrap_dropdown_menu {
  width: 80%;
  margin: 0 auto;
}

.dropdown-wrap.about {
  margin: 31px;
}

.title-dropdown {
  background-color: #ff6060;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.close {
  display: none;
}

.description-dropdown {
  background-color: #f6f6f6;
  color: #ff6060;
  font-size: 24px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.arrow_wrapper {
  width: 30px;
  cursor: pointer;
}

.wrap_carousel {
  background: rebeccapurple;
  position: relative;
  height: 100%;
}
.wrap_carousel .displayed-img {
  position: absolute;
  object-fit: cover;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}
.wrap_carousel .numPhoto {
  color: white;
  position: absolute;
  font-size: 18px;
  bottom: 24px;
  left: calc(50% - 9px);
}
.wrap_carousel .left {
  position: absolute;
  left: 0;
  width: 60px;
  top: calc(50% - 30px);
  height: 60px;
  cursor: pointer;
}
.wrap_carousel .right {
  position: absolute;
  right: 0;
  width: 60px;
  top: calc(50% - 30px);
  height: 60px;
  cursor: pointer;
}

.logement {
  color: #ff6060;
}
.logement .carousel {
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
}

.tags ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}
.tags .tag {
  background: #ff6060;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}
.tags .tag.tag_display {
  width: fit-content;
  height: 25px;
}

.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.right_side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.wrapper_title {
  display: flex;
  justify-content: space-between;
}
.wrapper_title .host {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.wrapper_title .wrapper_img_host {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
  overflow: hidden;
}
.wrapper_title .wrapper_img_host img {
  width: 100%;
}

.wrapper_content_house {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper_content_house .drop_house {
  width: 48%;
}
@media all and (max-width: 767px) {
  .wrapper_content_house .drop_house {
    width: 100%;
  }
}
.wrapper_content_house h2,
.wrapper_content_house #dropdown-content {
  font-size: 18px !important;
}

.error_page {
  margin: 0 auto;
  color: #ff6060;
  text-align: center;
}
.error_page h2 {
  display: block;
  font-size: 288px;
  font-weight: bold;
  margin: 0;
}
.error_page p {
  display: block;
  font-size: 36px;
  margin-bottom: 300px;
}
.error_page a {
  display: block;
  color: #ff6060;
}
.error_page a:hover {
  color: #ff6060;
}

/*# sourceMappingURL=index.css.map */
