.wrap_carousel {
    background: rebeccapurple;
    position: relative;
    height: 100%;

    & .displayed-img {
        position: absolute;
        object-fit: cover;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
    }

    & .numPhoto {
        color: white;
        position: absolute;
        font-size: 18px;
        bottom: 24px;
        left: calc(50% - 9px);
    }

    & .left {
        position: absolute;
        left: 0;
        width: 60px;
        top: calc(50% - 30px);
        height: 60px;
        cursor: pointer;
    }

    & .right {
        position: absolute;
        right: 0;
        width: 60px;
        top: calc(50% - 30px);
        height: 60px;
        cursor: pointer;
    }
}
