.wrap_cards {
    background-color: #f6f6f6;
    border-radius: 25px;
    ul {
        padding: 0;
    }
    margin-top: 43px;
    padding: 56px 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    gap: 50px;
}

.card {
    a,
    a:visited {
        text-decoration: none;
    }

    h2 {
        color: #fff;
        padding: 0 15px;
        text-decoration: none !important;
        font-size: 18px;
        text-align: left;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
}

.thumbs {
    border-radius: 10px;
    min-width: 335px;
    min-height: 255px;
    width: 30%;
    height: 340px;
    max-height: 340px;
    overflow: hidden;
    text-decoration: none;

    @include gradient_thumb_red;

    a,
    a:visited,
    h2 {
        text-decoration: none;
    }
}
