.wrapper_content_house {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .drop_house {
        width: 48%;
        @media #{$mobile-only} {
            width: 100%;
        }
    }

    h2 {
        font-size: 18px !important;
        @media #{$mobile-only} {
            font-size: 13px !important;
        }
    }

    #dropdown-content {
        font-size: 18px !important;
        @media #{$mobile-only} {
            font-size: 12px !important;
        }
    }
}
